.todo {
  position: fixed;
  width: 0px;
  height: 0px;
  bottom: 0;
  right: 0;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
  transition: all 1s;
  opacity: 0;

  &.open {
    height: 50%;
    max-width: 500px;
    width: calc(100vw - 30px);
    opacity: 1;
  }

  @media (max-width: 920px) {
    font-size: 14px;
  }
  @media (max-width: 570px) {
    font-size: 10px;
    padding: 5px;
    width: calc(100vw - 5px);
    right: 50%;
    transform: translate(50%,0);
  }

}

.todo-icon {
  position: absolute;
  bottom: 9%;
  right: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  row-gap: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 2;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.todo-icon span {
  display: block;
  position: relative;
  width: 30px;
  height: 5px;
  background: $color-primary;

  &:before {
    content: "";
    display: block;
    position: absolute;
    border: 3px solid #fff;
    width: 10px;
    height: 10px;
    transform: translate(-150%, -25%);
  }

  &:last-child:before {
    content: "";
    display: block;
    position: absolute;
    border: 3px solid #fff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    transform: translate(-150%, -25%);
  }
}

.todo__wrapper {
  padding: 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  border-radius: 10px;
  //background: $color-dark;
  background: rgba(0, 0, 0, 0.6);
  @media (max-width: 570px) {
    row-gap: 10px;
    padding: 5px;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
  }
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  //padding: 3px 11px;
  //border-radius: 10px;
  //background-color: rgba(90, 90, 90, 1);
  @media (max-width: 570px) {
    column-gap: 5px;
  }
}

.todo__add-label {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.task-input {
  border: 1px solid $color-primary;
  border-radius: 10px;
  padding: 2px 10px;
  margin-right: auto;

  &::placeholder {
    color: $color-primary;
  }
}

.todo__current-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  @media (max-width: 570px) {
    row-gap: 5px;
  }

}

.todo__current-title {
  border-bottom: 1px solid $color-primary;
}

.todo__current-label {
  margin-right: auto;
  text-align: left;
  padding: 3px 11px;
  //border-radius: 10px;
  //background-color: rgba(90, 90, 90, 1);
  //background: rgba(0, 0, 0, 0.6);
  &.edit-mode {
    display: none;
  }
  @media (max-width: 570px) {
    padding: 1px 1px;
  }
}

.todo__current-input {
  &.edit-mode {
    display: none;
  }
}

