.greeting__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  // min-height: 48px;
  width: 100%;
  font-size: 39px;
  @media screen and (max-width: 920px) {
    font-size: 26px;
    flex-direction: column;
  }
}

.greeting {
  flex: 1;
  text-align: right;
}

.greeting__input {
  flex: 1;
  color: $color-primary;
  max-width: 50%;

  &::placeholder {
    color: $color-secondary-mod;
  }
  @media screen and (max-width: 920px) {
    text-align: center;
    &::placeholder {
      text-align: center;
    }
  }
}
