.player {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding-top: 15px;
  transition: opacity 1s;
  @media (max-width: 920px) {
    flex-direction: row;
    column-gap: 20px;
    padding-top: 0px;
  }
  @media (max-width: 570px) {
    padding-top: 15px;
    flex-direction: column;
  }
  &.closed {
    opacity: 0;
    z-index: -1;
   }
}

.play-list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: flex-start;
  color: $color-secondary-mod;
}

.player__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 60px;
  position: relative;
}

.play {
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: opacity ease-in 0.5s;
  opacity: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.pause {
  position: absolute;
  width: 0;
  height: 50px;
  cursor: pointer;
  transition: opacity ease-in 0.5s;
  opacity: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.play-prev {
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @media screen and (max-width: 920px) {
    width: 30px;
    height: 30px;
  }
}

.play-next {
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @media screen and (max-width: 920px) {
    width: 30px;
    height: 30px;
  }
}

.active-track {
  color: $color-primary;
}
