.reload {
  max-width: 32px;
  cursor: pointer;
  margin-top: 20px;
  transition: transform ease 1s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @media (max-width: 920px) {
    max-width: 25px;
  }
}
.quotes {
  max-width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  transition: all ease-in 0.5s;
  @media (max-width: 920px) {
    font-size: 12px;
    row-gap: 5px;
  }
  &.closed {
    opacity: 0;
    z-index: -1;
  }
}
.quote {
  min-height: 25%;
  margin-top: auto;
}
.author {
  margin-bottom: auto;
}