/** Base **/
.body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  min-height: 100vh;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out 0s;
}

.header {
  width: 100%;
  height: 30vh;
}
.header__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
}

.main {
  position: relative;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.footer {
  width: 100%;
  height: 30vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  row-gap: 30px;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background: transparent none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/** Layouts **/
/** Components **/
.time {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 100px;
  letter-spacing: 2px;
}
@media screen and (max-width: 600px) {
  .time {
    font-size: 46px;
  }
}

.date {
  font-size: 24px;
}
@media (max-width: 600px) {
  .date {
    font-size: 16px;
  }
}

.slider-icon {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.slide-prev {
  left: 20px;
}
.slide-prev:before {
  display: block;
  content: "";
  width: 18px;
  height: 4px;
  background: lightgray;
  transform: rotate(-45deg);
  margin-bottom: 7px;
  border-radius: 4px;
}
.slide-prev:after {
  display: block;
  content: "";
  width: 18px;
  height: 4px;
  background: lightgray;
  transform: rotate(45deg);
  border-radius: 4px;
}

.slide-next {
  right: 15px;
}
.slide-next:before {
  display: block;
  content: "";
  width: 18px;
  height: 4px;
  background: lightgray;
  transform: rotate(45deg);
  margin-bottom: 7px;
  border-radius: 4px;
}
.slide-next:after {
  display: block;
  content: "";
  width: 18px;
  height: 4px;
  background: lightgray;
  transform: rotate(-45deg);
  border-radius: 5px;
}

.slide-next:hover:before,
.slide-next:hover:after,
.slide-prev:hover:before,
.slide-prev:hover:after {
  background: white;
  transition: all 0.3s ease 0s;
}

.greeting__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  width: 100%;
  font-size: 39px;
}
@media screen and (max-width: 600px) {
  .greeting__container {
    font-size: 26px;
    flex-direction: column;
  }
}

.greeting {
  flex: 1;
  text-align: right;
}

.greeting__input {
  flex: 1;
  color: #fff;
  max-width: 50%;
}
.greeting__input::placeholder {
  color: rgba(211, 211, 211, 0.9);
}
@media screen and (max-width: 600px) {
  .greeting__input {
    text-align: center;
  }
  .greeting__input::placeholder {
    text-align: center;
    color: rgba(211, 211, 211, 0.9);
  }
}

.weather {
  height: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-start;
}
@media screen and (max-width: 600px) {
  .weather {
    font-size: 13px;
    row-gap: 7px;
  }
}

.weather__icon {
  font-size: 44px !important;
}

.weather__sity {
  max-width: 180px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  border-width: 0px 0px 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(255, 255, 255);
}
.weather__sity::placeholder {
  color: rgba(211, 211, 211, 0.9);
}
@media screen and (max-width: 600px) {
  .weather__sity {
    max-width: 130px;
  }
}

.reload {
  max-width: 32px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.quotes {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}
@media (max-width: 600px) {
  .quotes {
    font-size: 12px;
  }
}

.player {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding-top: 15px;
}

.play-list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: flex-start;
  color: rgba(211, 211, 211, 0.9);
}

.player__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 60px;
  position: relative;
}

.play {
  position: absolute;
  width: 50px;
  height: 50px;
  transition: opacity ease-in 0.5s;
  opacity: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.pause {
  position: absolute;
  width: 0;
  height: 50px;
  transition: opacity ease-in 0.5s;
  opacity: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.play-prev {
  width: 40px;
  height: 40px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media screen and (max-width: 600px) {
  .play-prev {
    width: 30px;
    height: 30px;
  }
}

.play-next {
  width: 40px;
  height: 40px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media screen and (max-width: 600px) {
  .play-next {
    width: 30px;
    height: 30px;
  }
}

.active-track {
  color: #fff;
}

/*# sourceMappingURL=index.css.map */
