.main {
  position: relative;
}

.slider-icon {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  cursor: pointer;
}
.slide-prev {
  left: 1%;
  &:before {
    display: block;
    content: "";
    width: 5px;
    height: 1px;
    background: lightgray ;
    transform: rotate(-41deg);
    margin-bottom: 2px;
    border-radius: 3px;
  }
  &:after {
    display: block;
    content: "";
    width: 5px;
    height: 1px;
    background: lightgray;
    transform: rotate(41deg);
    border-radius: 3px;

  }
}

.slide-next {
  right: 1%;
  &:before {
    display: block;
    content: "";
    width: 5px;
    height: 1px;
    background: lightgray ;
    transform: rotate(41deg);
    margin-bottom: 2px;
    border-radius: 3px;
    margin-left: 8px
  }
  &:after {
    display: block;
    content: "";
    width: 5px;
    height: 1px;
    background: lightgray;
    transform: rotate(-41deg);
    border-radius: 3px;
    margin-left: 8px
  }
}

.slide-next:hover:before,
.slide-next:hover:after,
.slide-prev:hover:before,
.slide-prev:hover:after{
  background: white;
  transition: all 0.3s ease 0s;
}
